/* @import './global/bootstrap.min.css'; */
/* import '../Leaflet.draw-0.4.14/dist/leaflet.draw'; */
/* @import '../js/Leaflet.draw-0.4.14/dist/leaflet.draw-src.css'; */
html,
body {
    height: 100%;
}
#dashboardmap ,#devicesmap,#tollmap {
    min-height: 720px;
}
#objmap,
#trackingmap,
#statusmap,
#livemap ,
#trackingmlff_log{
    height: 500px;
}
#sectionmap{
    height: 600px;
}
/* .leaflet-popup-content {
    width: 342px;
} */

.custom-popup {
    border-radius: 0px;
    color: #504e4e;
    font-family: "Molengo", sans-serif;
    font-size: 8px;
    line-height: 10px;
    /* height: 10px; */
    max-height: 300px;
}

.custom-popup,
.leaflet-popup-tip {
    background: #e7e7e7;
    border: none;
    box-shadow: none;
}

.leaflet-popup-content-wrapper {
    background: #e7e7e7;
    border-radius: 2px;
}

.leaflet-popup {
    position: absolute;
    text-align: center;
}

.leaflet-popup-content {
    margin-top: 0px;
    margin-right: 0px;
    padding-right: 0px;
    min-width: 100px !important;
    max-height: 300px;
    overflow: auto;
    width: 250px;
}

.mymarker {
    color: purple;
    font-size: 50px; 
}

.pl-6 {
    padding-left: 6px;
}